@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600&display=swap');

body{
    background-color: #17162E;
}

.App-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.App-header nav{
    display: flex;
    justify-content: space-around;
    background-color: #1D1C3B;
    width: 30%;
    padding: 1%;
    margin-bottom: 3%;
    box-shadow: 1px 10px 20px 1px black;
    
}


.App-header nav a {
    background-color: #1D1C3B;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2em;
    transition: color 1s;
}

.App-header nav a:hover{
    color:gold;
}

h1, h4, p, span{
    font-family: 'Kumbh Sans', sans-serif;
    color: #FFFFFF;
}

@media only screen and (max-width: 480px){ 
    .App-header nav{
        width: 70%;
        
    }
}